# Telegram Configuration
TG_BOT_TOKEN=
TG_CHAT_ID=

# Supabase Configuration
VITE_SUPABASE_URL=https://pamzmgeqpmjbwunamdyn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BhLSrTloqmah_PgF2eiVdg_ZiCi_lL8
SUPABASE_SERVICE_ROLE_KEY=
