# Telegram Configuration
TG_BOT_TOKEN=8585527211:AAFe2LSDTn_EnKqwCKiBt9f_CKi1VJJttOQ
TG_CHAT_ID=7303640347

# Supabase Configuration
VITE_SUPABASE_URL=https://pamzmgeqpmjbwunamdyn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhbXptZ2VxcG1qYnd1bmFtZHluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MzMyNjcsImV4cCI6MjA4NzAwOTI2N30.ai-q6zWAI_mz9P9ZKFtG2jbx0w-Ig3Gy9YFKu7wn4JI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhbXptZ2VxcG1qYnd1bmFtZHluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTQzMzI2NywiZXhwIjoyMDg3MDA5MjY3fQ.Fj0LeMd7H5C0d3XEs53RmsVDCh_kIz0-mrBSl5hN8Oc
